@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/header';
@import 'components/top-nav';
@import 'components/quote-section';
@import 'components/law-section';
@import 'components/img-section';
@import 'components/practice-section';
@import 'components/processes-section';
@import 'components/about-section';
@import 'components/attorneys-section';
@import 'components/consultation-section';
@import 'components/posts-section';
@import 'components/contact-section';
@import 'components/writeus-section';

html {
    font-size: 62.5%;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 30px;
}