

.about-section {

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}


.services-section,
.whyus-section,
.advantages-section {
    width: 30%;
    font-family: $play;

    h1 {
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 40px;
    }
}


.whyus-section {
    width: 30%;
    font-family: $play;


    .secondary-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        color: white;
        background: $blue;
        font-family: $play;

        h6 {
            font-size: 1.4rem;
            margin: 0 10px;
        }

        button {
            background: $blue;
            border: none;
            height: 100%;
            width: 40px;
            color: white;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    div:nth-child(2) {
        font-size: 1.4rem;
        font-family: $crim;
        font-weight: bold;
        padding: 20px;
        justify-content: space-between;

        img {
            width: 60px;
        }

        p {
            margin: 0 20px;
        }
    }
}

.services-section {
    p {
        font-size: 1.2rem;
    }
}

.advantages-section {
    ul {
        display: flex;
        li {
            img {
                width: 400px;
            }
        }
    }

}

.show {
    display: flex;
}

.hide {
    display: none;
}