
.about-section {
    width: 100%;
    margin: 40px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}


.services-section,
.whyus-section,
.advantages-section {
    width: 30%;
    font-family: $play;

    h1 {
        font-weight: bold;
        font-size: 4rem;
        margin: 20px 0 40px 0;
    }
}


.whyus-section {
    width: 30%;
    font-family: $play;


    .secondary-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        color: white;
        background: $blue;
        font-family: $play;

        h6 {
            font-size: 1.4rem;
            margin: 0 10px;
        }

        button {
            background: $blue;
            border: none;
            height: 100%;
            width: 40px;
            color: white;
            font-size: 3rem;
            font-weight: 700;
            &:hover,
            &:active {
                color: #222;
                background: Gold;
            }
        }
    }

    div:nth-child(2) {
        font-size: 1.4rem;
        font-family: $crim;
        font-weight: bold;
        padding: 20px;
        justify-content: space-between;

        img {
            width: 60px;
            height: 60px;
        }

        p {
            margin: 0 20px;
        }
    }
}

.services-section {
    div {
        p {
            font-size: 1.4rem;
        }
        & > p {
            padding-bottom: 15px;
        }
        ul {
            margin: 10px 0;
            li {
                margin: 4px 0;
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

}

.advantages-section {
    .advantages-content {
        border: 1px solid rgb(238, 236, 236);
    }
    ul {
        display: flex;
        width: 100%;

        .advantage-buttons {
            margin: 0 auto;
            flex: 1 1 auto;
            border-right: 1px solid rgb(182, 182, 182);

            &:last-child {
                border-right: none;
            }
            :hover {
                background-color: gold;
                color: $blue;
            }

            button {
                width: 100%;
                padding: 10px 0;
                font-family: $play;
                font-size: 1.6rem;
                background: $blue;
                color: white;
                border : none;

            }
        }
        .list-content {
            flex-direction: column;
            img {
                width: 100%;
            }
            p {
                padding: 10px;
            }
        }
    }

}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (max-width: 1065px) {
    .whyus-section {
        div:nth-child(2) {
            padding: 10px;
            p {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 950px) {
    .about-section {
        margin: 20px 0;
        .wrapper {
            display: flex;
            flex-direction: column;     
            align-items: center;
            justify-content: center;
        }
    }
    .services-section,
    .whyus-section,
    .advantages-section {
        width: 80%;

        h1 {
            font-weight: bold;
            font-size: 3rem;
            margin: 20px 0 40px 0;
        }
    }
    .whyus-section {
        div:nth-child(2) {
            text-align: center;
            p {
                margin: 0;
                align-self: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .services-section {
        div p {
            font-size: 1.2rem;
        }
    }
}