.consultation-section {
    background: url(../assets/giammarco-boscaro.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0;

    h1 {
        font-size: 4rem;
        font-family: $play;
        color: white;
        text-align: center;
        margin-top: 0;
        span {
            color: red;
        }
    }

    form {
        text-align: center;
        input,
        textarea {
            border: none;
            width: 80%;
            resize: none;
            font-family: $crim;
            font-size: 2rem;
            padding: 10px;
            margin: 2px 0;
            border-bottom: 5px solid transparent;
            &:focus,
            &:hover {
                border-bottom: 5px gold solid;
            }
        }
        input {
            height: 50px;
        }
        textarea {
            height: 150px;
        }
        input[type = submit] {
            color: white;
            background: $blue;
            border: none;
            &:hover,
            &:active {
                background: gold;
                color: $blue;
            }
        }
    }
}

@media (max-width: 900px) {
    .consultation-section {
        h1 {
            font-size: 2.5rem;
        }
        form {
            input {
                height: 30px;
                font-size: 1.5rem;
            }
            textarea {
                height: 60px;
                font-size: 1.5rem;
            }
            input[type=submit] {
                padding: 0;
                font-size: 1.5rem;
            }
        }
    }
}