header {
    background: url('../assets/tamarcus-brown-266128-unsplash1.jpg') no-repeat;
    background-size: 100% auto;
    background-position: 50% 20%;
    height: calc(100vh - 60px);
    position: relative;

    .hero-text {
        display: block;
        width: 450px;
        background: rgba(38, 12, 12, 0.25);
        color: white;
        position: absolute;
        left: 15%;
        top: 20%;
        padding: 20px;
        position: relative;
        animation-name: slideIn;
        animation-duration: 1.5s;
        transition: all ease;

        h1,
        h3,
        p {
            font-family: $play;
        }

        h1 {
            font-size: 7rem;
            margin: 0 0 15px 0;
            font-weight: 400;
        }

        h3 {
            font-size: 4rem;
            margin: 0 0 10px 0;
            background-color: $blue;
            color: white;
            display: inline-block;
            padding: 0 10px;
            font-weight: 400;

            svg {
                color: gold;
            }
        }

        p {
            font-style: italic;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        a {
            font-family: $crim;
            font-size: 2rem;
            font-weight: bold;
            padding: 10px 0;
            background: white;
            border: 2px $blue solid;
            padding: 10px 20px;
            position: absolute;
            bottom: -20px;
            border-radius: 5px;
            &:hover,
            &:active {
                background: gold;
                color: $blue;
                border: black 2px solid;
            }
        }
    }
    .banner-stats {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        align-items: flex-end;

        li {
            width: 25%;
            text-align: center;
            background: rgba(38, 12, 12, 0.5);
            margin: 0 2px;
            color: white;
            padding: 20px;
            height: 150px;
            transition: all 0.5s ease;
            &:hover p {
                display: block
            }
            &:hover {
                height: 230px;
            }
            h3 {
                font-size: 3rem;
                font-family: $crim;
                color: gold;
                margin: 20px 0 0 0;
            }
            h4,
            p {
                font-size: 1.5rem;
                font-family: $play;
                font-weight: bold;
                margin: 0;  
            }
            p {
                margin-bottom: 20px;
                display: none;
            }
            h4 {
                padding-bottom: 10px;
                font-size: 2rem;
            }
        }
    }
}

@keyframes slideIn {
    from {
        top: 40%;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    @keyframes slideIn {
        from {
            top: 40%;
            opacity: 0;
        }
        to {
            top: 15%;
            opacity: 1;
        }
    }

    header {
        background: url('../assets/tamarcus-brown-266128-unsplash1-900.jpg') no-repeat;
        background-size: 100% auto;
        background-position: 10% 10%;
    
        .hero-text {
            top: 15%;
            left: 10%;
            h1 {
                font-size: 3.5rem;
            }
            h3 {
                font-size: 3rem;
            }
            p {
                font-size:1.5rem;
            }
            a{
                font-size: 1.5rem;

            }
        }

        .banner-stats {
            li {
                padding: 10px;
                height: 120px;
                h3 {
                    font-size: 2.5rem;
                }

                h4 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
@keyframes slideIn {
    from {
        top: 40%;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1;
    }
}
    header {
            background: url('../assets/tamarcus-brown-266128-unsplash1-900-mobile.jpg') no-repeat;
            background-size: 100% auto;
            background-position: 10% 10%;
        .hero-text {
            width: 50%;
            top: 20%;
            h1 {
                font-size: 2.5rem;
            } 
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: Bold;
            }
        }

        .banner-stats {
            li {
                height: 100px;
                h3 {
                    font-size: 1.7rem;
                }
                h4,
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    header {
        background: url('../assets/tamarcus-brown-266128-unsplash1-900-mobile.jpg') no-repeat;
        background-position: 90% 0;

        .hero-text {
            width: 60%;
        }

        .banner-stats {
            // flex-direction: column;
            li {
                h3 {
                    margin-top: 5px;
                }
            }
        }
    }
}

@media (max-height: 650px) {
    header {
        .banner-stats {
            li {
                height: 100px;
                h3 {
                    font-size: 2rem;
                }
                h4,
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-height:550px) and (min-width: 800px) {
    header {
        .banner-stats {
            display: none;
        }
    }
}