.image-gallery {
    .wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        ul {
            display: flex;
            li {
                width: 20%;
                img {
                    width: 100%;
                }
            }
        }
    }
}