.practice-section {
    margin: 40px 0;
    div {
        display: flex;
    }

    .practice-main {
        width: calc(80% - 20px);
        display: flex;
        flex-direction: column;
        text-align : center;
        font-family: $crim;
        
        img {
            height: auto;
            width: 600px;
            margin: 0 auto;
        }

        h4 {
            font-size: 2rem;
            font-weight: 400;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;

            li {
                list-style-position: inside;
                font-size: 1.6rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 40%;
                img {
                    width: 15px;
                    height: 15px;
                    margin: 0;
                    padding: 0;
                }
                p {
                    padding-left: 10px;
                }
            }
        }
    }
    .practice-aside {
        width: calc(20% - 20px);
        display: flex;
        flex-direction: column;
        font-family: $crim;
        font-size: 1.5rem; 
        margin-right: 40px;

        & > h3 {
            font-size: 4rem;
            margin: 20px 0;
        }

        ul {
            li {
                border-top: 1px lightgrey solid;
                display: flex;
                align-items: center;
                &:hover {
                    background: rgb(241, 241, 241);
                }
                &:hover h3 {
                    color: gold;              
                }
                img {
                    margin: 0;
                    padding: 0;
                }
                h3 {
                    margin: 10px;
                    color: grey;
                }
            }
            & li:last-child {
                border-bottom: 1px lightgrey solid;
            }
        }
    }
}

@media (max-width: 1105px) {
    .practice-section {
        .practice-main {
            width: calc(70% - 20px);
            img {
                width: 60%;
            }
            h4 {
                font-size: 1.5rem;
            }
            ul li {
                p {
                    font-size: 1.2rem;
                }
            }
        }
        .practice-aside {
            width: calc(30% - 20px);
            & > h3 {
                font-size: 2rem;
            }
            ul li {
                h3 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 795px) {
    .practice-section {
        .practice-main {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 675px) {
    .practice-section {
        .practice-main {
            h4 {
                font-size: 1.2rem;
            }
            ul li p {
                font-size: 1.2rem;
            }
        }
        .practice-aside {
            & > h3 {
                font-size: 2rem;
            }
            ul li {
                h3 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 510px) {
    .practice-section div {
        flex-direction : column;
        .practice-aside {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        .practice-main {
            width: 100%;
        }
    }
}