.process-section {
    background: url(../assets/william-stitt-196804-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & li:first-child {
        background: rgba(11, 12, 13, 0.63);
        }
        & li:first-child p::before {
            content:"";
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 30px solid rgba(11, 12, 13, 0.35);
            position: absolute;
            right: -30px;
            top: calc(50% - 25px);
        }

        & li:nth-child(2) {
            background-color: rgba(11, 12, 13, 0.42);
        } 

        & li:nth-child(2) p::before {
            content:"";
            width: 0;
            height: 0;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            border-left: 30px solid rgba(11, 12, 13, 0.3);
            position: absolute;
            right: -30px;
            top: calc(50% - 25px);
        }

        & li:last-child {
	        background-color: rgba(11, 12, 13, 0.2);
        }

        li {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 40px 40px;
            width: 33.33%;
            position: relative;
            height: 350px;

            h2 {
                font-size: 3.5rem;
                color: gold;
                margin: 0 0 20px 0;
            }
    
            a, 
            p {
                font-size: 2rem;
                color: white;
            }

            h2,
            a,
            p {
                display: block;
                font-family: $play;
            }
    
            p {
                margin-bottom: 20px;
            }

            a {
                background: $blue;
                border-radius: 5px;
                padding: 10px 20px;
                width: 170px;
                text-align: center;
                &:hover,
                &:active {
                    background: gold;
                    color: black;
                }
            }
        }
    }
}