.writeus-section {
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(../assets/map.png);
    padding: 30px 0;
    .wrapper {
        display: flex;
        flex-direction: Column;
        justify-content: center;
        align-items: center;

        h1,
        h3 {
            font-family: $play;
            margin-top: 0;
        }

        h1 {
            font-size: 4rem;

        }

        h3 {
            font-size: 2.5rem;
            color: grey;
        }

        form {
            .inputs {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;


                div {
                    width: calc(50% - 10px);
                    input {
                        width: 100%;
                        padding: 5px;
                        height: 45px;
                        margin-bottom: 20px;

                    }
                    input,
                    textarea {
                        border: 2px solid $blue;
                        font-family: $play;
                        padding: 10px;
                        font-size: 2rem;
                        border-radius: 5px;
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid gold;
                        }
                    }
                }

                & div:last-child {
                    width: 100%;
                    textarea {
                        width: 100%;
                        resize: none;
                        height: 150px;
                    }
                }                
            }

            input[type=submit] {
                padding: 15px 30px;
                width: 150px;
                display: block;
                margin: 20px auto;
                background: transparent;
                border: 2px solid $blue;
                font-size: 2rem;
                font-family: $play;
                border-radius: 5px;
                &:hover {
                    background: gold;
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .writeus-section {
        .wrapper {
            h1 {
                font-size: 2.5rem;
                margin-bottom: 0;
            }
            h3 {
                font-size: 1.5rem;
            }
            form {
                width: 80%;
                .inputs { 
                flex-direction: column;
                    div {
                        width: 100%;
                        input,
                        textarea {
                            font-size: 1.4rem;
                        }
                        input {
                            height: 30px;
                            margin-bottom: 5px;
                        }

                    }

                    & div:last-child textarea {
                        height: 60px;
                    }
                }
                input[type=submit] {
                    font-size: 1.5rem;
                    padding: 5px 10px;
                }
            }
        }
    }
}